{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
  <div class="swatch error">
    <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
    <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  </div>
{% else %}

  {% assign found_option = false %}
  {% assign is_color = false %}
  {% assign option_index = 0 %}

  {% for option in product.options %}
    {% if option == swatch %}
      {% assign found_option = true %}
      {% assign optionName = swatch %}
      {% assign option_index = forloop.index0 %}
      {% assign downcased_option = swatch | downcase %}
      {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'Color' %}
        {% assign is_color = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% unless found_option %}
    <div class="swatch error swatch-wrap">
      <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
      <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
      <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
      <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
    </div>
  {% else %}
    {% assign values = '' %}
    {%- if template == 'cart' -%}
      {% assign s_value = selectedOption.options_with_values[option_index].value %}
      {%- capture selected-value -%}
        data-s_value="{{ s_value | downcase }}"
      {%- endcapture -%}
    {%- else -%}
      {% assign s_value = selectedOption.options[option_index] %}
      {%- capture selected-value -%}
        data-s_value="{{ s_value | downcase }}"
      {%- endcapture -%}
    {%- endif -%}
    {% if is_color %}
      <div class="swatch swatch-wrap clearfix swatch-{{ downcased_option }}" data-option-index="{{ option_index }}" {{ selected-value }}>
        {%- unless template contains 'customize-your-look' -%}
          {%- if swatch == 'Style' -%}
            <div class="header">Length : <span class="option-value">{{ s_value }}</span></div>
          {%- else -%}
            <div class="header">{{ swatch }} : <span class="option-value">{{ s_value }}</span></div>
          {%- endif -%}
        {%- endunless -%}
        {% for variant in product.variants %}
          {% assign value = variant.options[option_index] %}
          {% unless values contains value %}
            {% assign values = values | join: ',' %}
            {% assign values = values | append: ',' | append: value %} 
            {% assign values = values | split: ',' %}
            <div data-value="{{ value | handleize}}" class="swatch-product-wrapper swatch-element swatch-option-{{ option_index }} {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
              <input id="{% if template contains 'cart' %}{{ product.handle }}-option-{{ option_index }}-{{variantId}}-{{ value | handle }}{% else %}{{ product.handle }}{{ option_index }}-{{ value | handle }}{% endif %}" type="radio" data-name="{{ optionName }}" name="{% if template contains 'cart' %}{{product.handle}}-{{ variantId }}-option-{{ option_index }}{% else %}{{product.handle}}-option-{{ option_index }}{%- endif -%}" value="{{ value | escape }}" {{ selected-value }} data-value="{{ value | downcase }}" {% if s_value == value %} checked="checked"{% endif %} {% unless variant.available %}disabled{% endunless %} data-var-id="{{ variant.id }}" />
              <label data-option-value="{{ value }}" data-product-id="{{product.id}}" for="{% if template contains 'cart' %}{{ product.handle }}-option-{{ option_index }}-{{variantId}}-{{ value | handle }}{% else %}{{ product.handle }}{{ option_index }}-{{ value | handle }}{% endif %}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | prepend : 'color_' | append: '.' | append: file_extension | file_img_url : '50x' }})">
                <span>{{ value }}</span>
              </label>
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    {%- else -%}
      <div class="swatch swatch-wrap clearfix swatch-{{ downcased_option }} form-group suit-select-box" data-option-index="{{ option_index }}" {{ selected-value }}>
        {%- unless template contains 'customize-your-look' -%}
          {%- if swatch == 'Style' -%}
            <div class="header">Length : <span class="option-value">{{ s_value }}</span></div>
          {%- else -%}
            <div class="header">{{ swatch }} : <span class="option-value">{{ s_value }}</span></div>
          {%- endif -%}
        {%- endunless -%}
      {% if template contains 'cart' %}
              {% for variant in product.variants %}
                {% assign value = variant.options[option_index] %}
                {% unless values contains value %}
                  {% assign values = values | join: ',' %}
                  {% assign values = values | append: ',' | append: value %} 
                  {% assign values = values | split: ',' %}
                  <div data-value="{{ value | handleize }}" class="swatch-product-wrapper swatch-element swatch-option-{{ option_index }} {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
                    <input id="{% if template contains 'cart' %}{{currentItemTitle}}-{{ product.handle }}-option-{{ option_index }}-{{variantId}}-{{ value | handle }}{% else %}{{ product.handle }}{{ option_index }}-{{ value | handle }}{% endif %}" type="radio" data-name="{{ optionName }}" name="{% if template contains 'cart' %}{{product.handle}}-{{ variantId }}-option-{{ option_index }}{% else %}{{product.handle}}-option-{{ option_index }}{%- endif -%}" value="{{ value | escape }}" {{ selected-value }} data-value="{{ value | downcase }}" {% if s_value == value %} checked="checked"{% endif %} {% unless variant.available %}disabled{% endunless %} data-var-id="{{ variant.id }}" />
                    <label data-option-value="{{ value }}" for="{% if template contains 'cart' %}{{currentItemTitle}}-{{ product.handle }}-option-{{ option_index }}-{{variantId}}-{{ value | handle }}{% else %}{{ product.handle }}{{ option_index }}-{{ value | handle }}{% endif %}">
                      {{ value }}
                    </label>
                  </div>
                {% endunless %}
              {% endfor %}
        {% else %}
        
              <select id="exampleFormControlSelect2" class="var-select-custom" data-name="{{ downcased_option }}">
                {%- if swatch == 'Style' -%}
                  <option value="">Choose Length</option>
                {% else %}
                  <option value="">Choose {{ swatch }}</option>
                {% endif %}
                {% for value in option.values %}
                  <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
              </select>
              {% render 'icon-caret' %}
              {% for variant in product.variants %}
                {% assign value = variant.options[option_index] %}
                {% unless values contains value %}
                  {% assign values = values | join: ',' %}
                  {% assign values = values | append: ',' | append: value %} 
                  {% assign values = values | split: ',' %}
                  <div data-value="{{ value | handleize }}" class="swatch-product-wrapper swatch-element swatch-option-{{ option_index }} {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
                    <input id="{% if template contains 'cart' %}{{currentItemTitle}}-{{ product.handle }}-option-{{ option_index }}-{{variantId}}-{{ value | handle }}{% else %}{{ product.handle }}{{ option_index }}-{{ value | handle }}{% endif %}" type="radio" data-name="{{ optionName }}" name="{% if template contains 'cart' %}{{product.handle}}-{{ variantId }}-option-{{ option_index }}{% else %}{{product.handle}}-option-{{ option_index }}{%- endif -%}" value="{{ value | escape }}" {{ selected-value }} data-value="{{ value | downcase }}" {% if s_value == value %} checked="checked"{% endif %} {% unless variant.available %}disabled{% endunless %} data-var-id="{{ variant.id }}" />
                    <label data-option-value="{{ value }}" for="{% if template contains 'cart' %}{{currentItemTitle}}-{{ product.handle }}-option-{{ option_index }}-{{variantId}}-{{ value | handle }}{% else %}{{ product.handle }}{{ option_index }}-{{ value | handle }}{% endif %}">
                      {{ value }}
                    </label>
                  </div>
                {% endunless %}
              {% endfor %}
          {% endif %}
      </div>
    {%- endif -%}
  {% endunless %}
{% endif %}