<div class="step-content-wrapper create-event-look" data-step-content-wrap="2">
  <div class="page-width-inner-wrapper">
    <h4 class="section-title xs-show">Create Look</h4>
    <div class="event-block-wrap">
      {% if section.settings.create_look_title != blank %}
        <h3 class="heading">{{ section.settings.create_look_title }}</h3>
      {% endif %}
      <div class="box-wrap"> 
        {%- for block in section.blocks -%}
          {%- if block.type == 'event_look' -%}
            <div class="Squer-radio-button-inner box-inner-wrap popup-button {% if block.settings.create_look_title == 'Suit Customizer' %}customise-look-button-foradd-look-into-event{% endif %}" data-href="/pages/customize-your-look?light-grey-suit=41097419653306&light-grey-jacket=41097359065274&light-grey-pants-1=41097369813178&light-grey-vest-1=41097382527162" data-title="{{ block.settings.create_look_title | downcase | handleize }}">
              <div class="checkmark">
                {% if block.settings.create_look_icon != blank %}
                  <div class="event-type-icon icon-wrap">
                    <img src="{{ block.settings.create_look_icon | img_url : 'master' }}" alt="{{ block.settings.create_look_title }}" />
                  </div>
                {% endif %}
                {% if block.settings.create_look_title != blank %}
                  <h3 class="event-type-title">
                    {{ block.settings.create_look_title }}
                  </h3>
                {% endif %}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="show-look-from-event-wrapper" style="display: none;">
      <header>
        <button class="add-look-wrapper">+ Add New Look</button>
      </header>
      <div class="event-look-inner-wrapper"></div>
    </div>
    <div class="modal-wrapper" data-target="choose-from-favourites">
      <div class="choose-form-favorite modal-wrapper-inner-wrapper" id="choose-form-favorite">
        <h4 class="title">
          <span>Choose from favorite</span>
          <span class="close-icon">
            <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/close_1.png" alt="close-icon" />
          </span>
        </h4>
        <div class="product-wrapper"></div>
      </div>
    </div>
    <div class="modal-wrapper" data-target="browse-top-looks">
      <div class="browse-top-looks modal-wrapper-inner-wrapper" id="browser-top-looks">
        <h4 class="title">
          <span>BROWSE TOP LOOKS</span>
          <span class="close-icon">
            <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/close_1.png" alt="close-icon" />
          </span>
        </h4>
        <div class="product-wrapper">
          {%- assign top_look_collection = collections[section.settings.top_look_collections] -%}
          {%- paginate top_look_collection.products by 2  -%}
            {%- for product in top_look_collection.products -%}
              <div class="product-card">
                <div class="img">
                  <a href="{{ product.url }}" target="_blank" tabindex="0" title="{{ product.title}}">
                    <img src="{{ product.featured_image | product_img_url : 'master' }}" alt="{{ product.title }}" />
                  </a>
                </div>
                <div class="product-info">
                  <div class="item-data-wrapper">
                    {% assign suitProductHandle = product.metafields.my_fields.jacket_pants_title | downcase | handleize | strip -%}
                    {% assign suitProductHandleData = all_products[suitProductHandle] %}
                    <div class="product-data-card" data-product-handle="{{ suitProductHandleData.handle }}" data-product-type="{{ suitProductHandleData.type }}">
                      <input type="hidden" name="looks-product-id" class="looks-product-id" value="{{ suitProductHandleData.selected_or_first_available_variant.id }}">
                      <input type="hidden" name="looks-product-var-id" class="looks-product-var-id" value="{{ suitProductHandleData.selected_or_first_available_variant.id }}">
                      <input type="hidden" name="looks-product-handle" class="looks-product-handle" value="{{ suitProductHandleData.handle}}">
                    </div>
                    {% assign customLookProducts = product.metafields.custom_look %}
                    {% assign metaDataSize =  customLookProducts.size | minus : 1 %}
                    {%- for i in (i..metaDataSize) -%}
                      {%- assign customLookProd = 'products-' | append : i -%}
                      {%- assign productHandleArr = product.metafields.custom_look[customLookProd] -%}
                      {%- if productHandleArr contains '?variant=' -%}
                        {%- assign productHandleVal = productHandleArr | split : ','  -%}
                        {%- for producthandleitem in productHandleVal -%}
                          {%- assign prodHandle = producthandleitem | split: '?' | first -%}
                          {%- assign prodVarId = producthandleitem | split: '?' | last | remove: 'variant=' | plus: 0 -%}
                          {%- assign getProduct = all_products[prodHandle] -%}
                          <div data-target="with-variant" class="product-data-card" data-product-handle="{{ getProduct.handle }}" data-product-type="{{ getProduct.type }}">
                            <input type="hidden" class="looks-product-id" value="{{ getProduct.id }}" />
                            <input type="hidden" class="looks-product-var-id" value="{{ getProduct.selected_or_first_available_variant.id }}" />
                            <input type="hidden" class="looks-product-handle" value="{{ getProduct.handle }}" />
                          </div>
                        {%- endfor -%}
                      {%- else -%}
                        {%- assign productHandleVal = productHandleArr | split : ',' -%}
                        {%- for producthandleitem in productHandleVal -%}
                          {%- assign producthandleitemData = producthandleitem -%}
                          {%- assign suitGetProduct = all_products[producthandleitemData] -%}
                          <div data-target="with-out-variant" class="product-data-card" data-product-handle="test-{{ producthandleitemData }}" data-product-type="{{ suitGetProduct.type }}">
                            <input type="hidden" class="looks-product-id" value="{{ suitGetProduct.id }}" />
                            <input type="hidden" class="looks-product-var-id" value="{{ suitGetProduct.selected_or_first_available_variant.id }}" />
                            <input type="hidden" class="looks-product-handle" value="{{ suitGetProduct.handle }}" />
                          </div>
                        {%- endfor -%}
                      {%- endif -%} 
                    {%- endfor -%}
                  </div>
                  <h4 class="product-title">{{ product.title }}</h4>
                  <p class="product-price">Starting at {{ product.price | money }}</p>
                  <p class="taxes-text">Price includes suit jacket and pants</p>
                  <button class="button button--secondary look-added-into-event" data-text="Adding...">Add To Event</button>
                </div>
              </div>
            {%- endfor -%}
            <div class="pagination-custom">
              {% if paginate.previous %}
                {% assign prev_page = paginate.prev.url | split : '?' | last  %}
                <button class="button button--secondary custom-paginate-next" data-hrefhref="{{ top_look_collection.url }}?page={{ paginated_products.previous_page }}" title="{{ paginate.prev.title }}">Previous</a>
              {% endif %}
              {% if paginate.next  %}
                {% assign next_page = paginate.next.url | split : '?' | last  %}
                <button class="button button--secondary custom-paginate-next" data-href="{{ top_look_collection.url }}?{{ next_page }}&view=get-data" title="{{ paginate.next.title }}">Next</button>
              {% endif %}
            </div>
          {%- endpaginate -%}
        </div>
      </div>
    </div>
    {% render 'event-page-button' %}
  </div>
</div>