<div class="step-content-wrapper create-event-look" data-step-content-wrap="2">
  <div class="page-width-inner-wrapper">
    <h4 class="section-title xs-show">Create Look</h4>
    <div class="event-block-wrap">
      {% if section.settings.create_look_title != blank %}
        <h3 class="heading">{{ section.settings.create_look_title }}</h3>
      {% endif %}
      <div class="box-wrap">
        {%- for block in section.blocks -%}
          {%- if block.type == 'event_look' -%}
            <div class="Squer-radio-button-inner box-inner-wrap popup-button {% if block.settings.create_look_title == 'Suit Customizer' %}customise-look-button{% endif %}" data-href="/pages/customize-your-look" data-title="{{ block.settings.create_look_title | downcase | handleize }}">
              <div class="checkmark">
                {% if block.settings.create_look_icon != blank %}
                  <div class="event-type-icon icon-wrap">
                    <img src="{{ block.settings.create_look_icon | img_url : 'master' }}" alt="{{ block.settings.create_look_title }}" />
                  </div>
                {% endif %}
                {% if block.settings.create_look_title != blank %}
                  <h3 class="event-type-title">
                    {{ block.settings.create_look_title }}
                  </h3>
                {% endif %}
              </div>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="show-look-from-event-wrapper" style="display: none;">
      <header>
        <button class="add-look-wrapper">+ Add New Look</button>
      </header>
      <div class="event-look-inner-wrapper">
        <div class="look-card-block">
          <div class="look-title-and-price">
            <div class="look-title">Deserst Sun</div>
            <div class="look-price-wrap">
              <span class="text-lable">Starting at</span>
              <span class="look-price">$199.99</span>
            </div>
          </div>
          <div class="look-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
            <button class="button button--secondary customise-look">Customise look</button>
          </div>
        </div>
        <div class="look-card-block">
          <div class="look-title-and-price">
            <div class="look-title">Deserst Sun</div>
            <div class="look-price-wrap">
              <span class="text-lable">Starting at</span>
              <span class="look-price">$199.99</span>
            </div>
          </div>
          <div class="look-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
            <button class="button button--secondary customise-look">Customise look</button>
          </div>
        </div>
        <div class="look-card-block">
          <div class="look-title-and-price">
            <div class="look-title">Deserst Sun</div>
            <div class="look-price-wrap">
              <span class="text-lable">Starting at</span>
              <span class="look-price">$199.99</span>
            </div>
          </div>
          <div class="look-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
            <button class="button button--secondary customise-look">Customise look</button>
          </div>
        </div>
        <div class="look-card-block">
          <div class="look-title-and-price">
            <div class="look-title">Deserst Sun</div>
            <div class="look-price-wrap">
              <span class="text-lable">Starting at</span>
              <span class="look-price">$199.99</span>
            </div>
          </div>
          <div class="look-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
            <button class="button button--secondary customise-look">Customise look</button>
          </div>
        </div>
        <div class="look-card-block">
          <div class="look-title-and-price">
            <div class="look-title">Deserst Sun</div>
            <div class="look-price-wrap">
              <span class="text-lable">Starting at</span>
              <span class="look-price">$199.99</span>
            </div>
          </div>
          <div class="look-image">
            <img src="https://app.groomsclub.com/storage/looks/NFPBNG5yGT8yIDxm4ml0VNVUh4kFKicZOK2Suz7C.png" alt="Deserst Sun" />
            <button class="button button--secondary customise-look">Customise look</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-wrapper" data-target="choose-from-favourites">
      <div class="choose-form-favorite modal-wrapper-inner-wrapper" id="choose-form-favorite">
        <h4 class="title">
          <span>Choose from favorite</span>
          <span class="close-icon">
            <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/close_1.png" alt="close-icon" />
          </span>
        </h4>
        <div class="product-wrapper"></div>
      </div>
    </div>
    <div class="modal-wrapper" data-target="browse-top-looks">
      <div class="browse-top-looks modal-wrapper-inner-wrapper" id="browser-top-looks">
        <h4 class="title">
          <span>BROWSE TOP LOOKS</span>
          <span class="close-icon">
            <img src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/close_1.png" alt="close-icon" />
          </span>
        </h4>
        <div class="product-wrapper">
          {%- assign top_look_collection = collections[section.settings.top_look_collections] -%}
          {%- for product in top_look_collection.products -%}
            <div class="product-card">
              {% if product.metafields.custom_look.products-0 != '' %}
                {%- capture suitProductData -%}
                  {%- assign suitProduct = product.metafields.custom_look.products-0 | split : ',' -%}
                  {%- for suitProductItem in suitProduct -%}
                    {%- assign suitProductItemData = all_products[suitProductItem] -%}
                    <div class="product-data-card">
                      <input type="hidden" class="looks-product-id" value="{{ suitProductItemData.id }}" />
                      <input type="hidden" class="looks-product-var-id" value="{{ suitProductItemData.selected_or_first_available_variant.id }}" />
                      <input type="hidden" class="looks-product-handle" value="{{ suitProductItemData.handle }}" />
                    </div>
                  {%- endfor -%}
                {%- endcapture -%}
              {% endif %}
              {% assign customLookProducts = product.metafields.custom_look %}
              {%- capture ProductData -%}
                {%- for i in (i..customLookProducts.size) -%}
                  {%- assign customLookProd = 'products-' | append : i -%}
                  {%- assign productHandleArr = product.metafields.custom_look[customLookProd] -%}
                  {%- if productHandleArr contains '?variant=' -%}
                    {%- assign productHandleVal = productHandleArr | split : ',' -%}
                    {%- for producthandleitem in productHandleVal -%}
                      {%- assign prodHandle = producthandleitem | split: '?' | first -%}
                      {%- assign prodVarId = producthandleitem | split: '?' | last | remove: 'variant=' | plus: 0 -%}
                      {%- assign getProduct = all_products[prodHandle] -%}
                      <div class="product-data-card">
                        <input type="hidden" class="looks-product-id" value="{{ getProduct.id }}" />
                        <input type="hidden" class="looks-product-var-id" value="{{ prodVarId }}" />
                        <input type="hidden" class="looks-product-handle" value="{{ prodHandle }}" />
                      </div>
                    {%- endfor -%}
                  {%- endif -%} 
                {%- endfor -%}
              {%- endcapture -%}
              <div class="item-data-wrapper">
                {%- assign suitProductHandle = product.metafields.my_fields.jacket_pants_title | downcase | handleize -%}
                {%- assign suitProduct = all_products[suitProductHandle] -%}
                <div style="display: none;"> {{ product.metafields.my_fields.jacket_pants_title }}- {{ suitProductHandle }} </div>
                <div class="product-data-card">
                  <input type="hidden" class="looks-product-id" value="{{ suitProduct.id }}" />
                  <input type="hidden" class="looks-product-var-id" value="{{ suitProduct.selected_or_first_available_variant.id }}" />
                  <input type="hidden" class="looks-product-handle" value="{{ suitProduct.handle }}" />
                </div>
                {{ suitProductData }}
                {{ ProductData }}
              </div>
              <div class="img">
                <img src="{{ product.featured_image | product_img_url : 'master' }}" alt="{{ product.title }}" />
              </div>
              <div class="product-info">
                <h4 class="product-title">{{ product.title }}</h4>
                <p class="product-price">Starting at {{ product.price | money }}</p>
                <p class="taxes-text">Price includes suit jacket and pants</p>
                <button class="button button--secondary look-added-into-event" data-text="Adding...">Add To Event</button>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% render 'event-page-button' %}
  </div>
</div>