<div class="expected-ship-date-wrapper">
  {% for variant in product.variants %}
    {% if variant.metafields.custom.esimate_to_ship_date != blank  %}
    <div class="estimated-variant-error-block-wrap" data-varaint-title="{{ variant.title }}" data-variant-inventory-policy="{{ variant.inventory_policy }}" data-variant-inventory-quantity="{{ variant.inventory_quantity }}" {% if variant.metafields.custom.esimate_to_ship_date != blank %}data-variant-estimate-date="{{ variant.metafields.custom.esimate_to_ship_date }}"{% endif %}>
      <span class="information-icon">!</span> Estimated ship date: {{ variant.metafields.custom.esimate_to_ship_date }} 
    </div>              
    {% endif %}
  {% endfor %}
</div>