{%- if product.metafields.custom.cross_sell_product_jacket_or_pant != blank  -%}
  <div class="frequently-bought-together">
    <h4 class="heading">
      Frequently bought together
    </h4>
    <div class="frequently-bought-together-inner-wrapper">
      {% assign current_product = product %}
      <div class="parent-product product-type-{{ current_product.type | downcase }}">
        <div class="upsell-product-wrap" data-product-handle="{{ current_product.handle }}" data-product-type="{{ current_product.type | downcase }}">
          <div class="product-block-wrap">
            <div class="product-image">
              {%- if current_product.selected_or_first_available_variant.image != blank -%}
                <img srcset="{{ current_product.selected_or_first_available_variant.image.src | img_url: 'medium' }} 1x, {{ current_product.selected_or_first_available_variant.image.src | img_url: 'medium', scale: 2 }} 2x"
                  src="{{ current_product.selected_or_first_available_variant.image.src | img_url: image_size }}"
                  loading="lazy"
                  class="header__heading-logo var-img"
                  width="{{ current_product.selected_or_first_available_variant.image.src.width }}"
                  height="{{ current_product.selected_or_first_available_variant.image.src.height }}"
                  alt="{{ current_product.title }}"
                >
              {%- else -%}
                <img srcset="{{ current_product.featured_media.image.src | img_url: 'medium' }} 1x, {{ current_product.featured_media.image.src | img_url: 'medium', scale: 2 }} 2x"
                  src="{{ current_product.featured_media.image.src | img_url: image_size }}"
                  loading="lazy"
                  class="header__heading-logo prod-img"
                  width="{{ current_product.featured_media.image.src.width }}"
                  height="{{ current_product.featured_media.image.src.height }}"
                  alt="{{ current_product.title }}"
                >
              {%- endif -%}
            </div>
            <div class="product-info">
              <h4 class="product-title">{{ current_product.title }}</h4>
              <div class="variant-wrap">
                <span class="variant-title variant-info-wrap" data-product-type="{{ current_product.type }}" data-product-handle="{{ current_product.handle }}">
                  {% for option in current_product.options_with_values  %}
                    {% assign outer_forloop = forloop %}
                    {%- assign variantOptions =  current_product.selected_or_first_available_variant.title | split : '/' -%}
                    {%- for variantOptionsTitle in variantOptions -%}
                      {%- if outer_forloop.index == forloop.index -%}
                        <span class="option-name option-{{ forloop.index }}" data-option-title="{{ option.name }}">
                          {{- variantOptionsTitle | strip -}}
                          {%- if current_product.type contains 'Pants' and forloop.first  -%}
                            &nbsp; x
                          {%- endif -%}
                        </span>
                      {%- endif -%}
                    {% endfor %}
                    {%- endfor -%}  
                </span>
                <span class="edit-item-button" data-button-label="edit-item"> - Edit Size</span>
                <span class="edit-item-button mobile-show" data-button-label="edit-item">Edit Size</span>
              </div>
              {% comment %} <span class="selecte-size-button" data-size-selected="select-size">Select Size</span> {% endcomment %}
              <div class="product-price">
                <span class="money" data-price="{{ current_product.selected_or_first_available_variant.price }}">
                  {{ current_product.selected_or_first_available_variant.price | money }}
                </span>
              </div>
              <span class="error-message parent-error-msg">Please select size</span>
              {% for variant in current_product.variants %}
                <div class="estimated-variant-error-block-wrap" data-varaint-title="{{ variant.title }}" data-variant-inventory-policy="{{ variant.inventory_policy }}" data-variant-inventory-quantity="{{ variant.inventory_quantity }}" {% if variant.metafields.custom.esimate_to_ship_date != blank %}data-variant-estimate-date="{{ variant.metafields.custom.esimate_to_ship_date }}"{% endif %}>
                  <span class="information-icon">!</span> Estimated ship date: {{ variant.metafields.custom.esimate_to_ship_date }} 
                </div>              
              {% endfor %}         
            </div>
          </div>
          {%- render 'edit-product-popup', productHandle : current_product, currentProduct: current_product, s_variant: current_product.selected_or_first_available_variant -%}
        </div>
        <span class="plus-sign">+</span>
      </div>
      <div class="upsell-product-wrapper">
        {% assign upsell_product_array = product.metafields.custom.cross_sell_product_jacket_or_pant | split : ',' %}
        {%- for upsell_product in upsell_product_array -%}
          {% assign productHandle = all_products[upsell_product] %}
          <div class="upsell-product-wrap" data-product-handle="{{ productHandle.handle }}" data-product-type="{{ productHandle.type | downcase }}">
            <div class="product-block-wrap">
              <div class="product-image">
                {%- if productHandle.selected_or_first_available_variant.image != blank -%}
                  <img srcset="{{ productHandle.selected_or_first_available_variant.image.src | img_url: 'medium' }} 1x, {{ productHandle.selected_or_first_available_variant.image.src | img_url: 'medium', scale: 2 }} 2x"
                    src="{{ productHandle.selected_or_first_available_variant.image.src | img_url: image_size }}"
                    loading="lazy"
                    class="header__heading-logo var-img"
                    width="{{ productHandle.selected_or_first_available_variant.image.src.width }}"
                    height="{{ productHandle.selected_or_first_available_variant.image.src.height }}"
                    alt="{{ productHandle.title }}"
                  >
                {%- else -%}
                  <img srcset="{{ productHandle.featured_media.image.src | img_url: 'medium' }} 1x, {{ productHandle.featured_media.image.src | img_url: 'medium', scale: 2 }} 2x"
                    src="{{ productHandle.featured_media.image.src | img_url: image_size }}"
                    loading="lazy"
                    class="header__heading-logo prod-img"
                    width="{{ productHandle.featured_media.image.src.width }}"
                    height="{{ productHandle.featured_media.image.src.height }}"
                    alt="{{ productHandle.title }}"
                  >
                {%- endif -%}
                <div class="checkbox"></div>
              </div>
              <div class="product-info">
                <h4 class="product-title">{{ productHandle.title }}</h4>
                <div class="variant-wrap hidden">
                  <span class="variant-title variant-info-wrap" data-product-handle="{{ productHandle.handle }}">
                    {% for option in productHandle.options_with_values  %}
                      {% assign outer_forloop = forloop %}
                      {%- assign variantOptions =  productHandle.selected_or_first_available_variant.title | split : '/' -%}
                      {%- for variantOptionsTitle in variantOptions -%}
                        {%- if outer_forloop.index == forloop.index -%}
                          <span class="option-name option-{{ forloop.index }}" data-option-title="{{ option.name }}">
                            {{- variantOptionsTitle | strip -}}
                          </span>
                          {%- if productHandle.type contains 'Pants' and forloop.first  -%}
                            &nbsp; x
                          {%- endif -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {% endfor %}
                  </span>
                  <span class="edit-item-button" data-button-label="edit-item"> - Edit Size</span>
                  <span class="edit-item-button mobile-show" data-button-label="edit-item">Edit Size</span>
                </div>
                <span class="selecte-size-button" data-size-selected="select-size">Select Size</span>
                <div class="product-price">
                  <span class="money" data-price="{{ productHandle.selected_or_first_available_variant.price }}">
                    {{ productHandle.selected_or_first_available_variant.price | money }}
                  </span>
                </div>                    
                <span class="error-message">Please select size</span> 
                {% for variant in productHandle.variants %}
                  <div class="estimated-variant-error-block-wrap" data-varaint-title="{{ variant.title }}" data-variant-inventory-policy="{{ variant.inventory_policy }}" data-variant-inventory-quantity="{{ variant.inventory_quantity }}" {% if variant.metafields.custom.esimate_to_ship_date != blank %}data-variant-estimate-date="{{ variant.metafields.custom.esimate_to_ship_date }}"{% endif %}>
                    <span class="information-icon">!</span> Estimated ship date: {{ variant.metafields.custom.esimate_to_ship_date }} 
                  </div>              
                {% endfor %}          
                {% comment %} {% for variant in productHandle.variants %}
                  <div class="estimated-variant-error-block-wrap" data-varaint-title="{{ variant.title }}" data-variant-inventory-policy="{{ variant.inventory_policy }}" data-variant-inventory-quantity="{{ variant.inventory_quantity }}" {% if variant.metafields.custom.esimate_to_ship_date != blank %}data-variant-estimate-date="{{ variant.metafields.custom.esimate_to_ship_date }}"{% endif %}>
                    <span class="information-icon">!</span> Estimated ship date: {{ variant.metafields.custom.esimate_to_ship_date }} 
                  </div>              
                {% endfor %} {% endcomment %}
              </div>
            </div>
            {%- render 'edit-product-popup', productHandle : productHandle, currentProduct: productHandle, s_variant: productHandle.selected_or_first_available_variant -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="footer-wrap">
      <div class="price-wrap">
        <span>Total :</span><span class="price" data-price="{{ current_product.price }}">{{ current_product.price | money }}</span>
      </div>
      <button type="button" name="add" class="fbt-add-to-cart button button--full-width button--primary disabled">
        <span class="btn-title" data-text="Adding..." data-success-msg="Added item into cart">Add selected item(s)</span>
      </button>
    </div>
  </div>
{%- endif -%}