{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<input type="hidden" class="order-type" value="{{ cart.attributes.order_type }}">
{%- assign orderType = false -%}
{%- assign orderTypeClass = '' -%}
{%- if  cart.attributes.order_type == 'normal' -%}
  {%- assign orderType = true -%}
  {%- assign orderTypeClass = 'event-order' -%}
{%- endif -%}

{% assign current_date = "now" | date: "%m/%d/%Y" %}
{%- assign fit_finder_data_enable = false -%}
{% for cart_item in cart.items  %}
  {%- if cart_item.product.type contains 'Jacket' or cart_item.product.type contains 'Pants' or cart_item.product.type contains 'Vest'  -%} 
    {%- assign fit_finder_data_enable = true -%}
  {%- endif %}
{% endfor  %}

<cart-items class="cart-page {% if cart == empty %} is-empty{% endif %}" data-value="{{ cart.attributes.order_type }}">

  <div class="page-width-big">
    <div class="header-bottom-link">
       <a href="{{ routes.all_products_collection_url }}" class="link"> <i class="fas fa-arrow-left"></i> {{ 'general.continue_shopping' | t }}</a>
    </div>
  </div>
  <div class="main-heading-part">
    <h1 class="text-center-heading border-heading title h1">{{ 'sections.cart.title' | t }}</h1>
  </div>
  <div class="page-width">
    <div class="cart-page-wrapper">
    <div class="cart-items-wrapper{% if cart.item_count == 0 %} full-width{% endif %}">
      <div class="cart__warnings">
        <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
        <a href="{{ routes.all_products_collection_url }}" class="button button--primary">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>  
      <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
        <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
          <div class="js-contents">
            {%- if cart != empty -%}
              <table class="cart-items">
                <tbody>
                  {%- assign cartItemIds = '' -%}
                  {% assign uniqueProductIdsArray= cart.items | map: 'product_id'| uniq | join: ','  %}
                  {%- assign suitColor = '' -%}
                  {%- assign suitItemCount = 0 -%}
                  {%- for item in cart.items -%}
                    {%- assign lineItemType = item.product.type | downcase | handleize -%}
                    {%- assign productUpsellAvailable = false -%}
                    {%- assign productUpsellHide = false -%}
                    {%- assign enableEditItem = false -%} 
                    {%- if item.product.metafields.upsell.product_upsell != blank -%}
                      {%- assign productUpsell =  all_products[item.product.metafields.upsell.product_upsell] -%}
                      {%- assign productUpsellAvailable = true -%}
                      {%- if uniqueProductIdsArray contains productUpsell.id  -%}
                        {%- assign productUpsellHide = true -%}
                      {%- endif -%}
                    {%- endif -%}
                    
                    {%- if lineItemType == 'jacket'-%}                      
                      {%- assign suitItemCount = suitItemCount | plus : 1 -%}
                      {%- if suitItemCount > 0 -%}
                        {%- assign suitColorValue = item.options_with_values[2].value | downcase | handleize -%}
                        {%- if suitColor == '' -%}
                          {%- assign  suitColor = suitColor | append : suitColorValue  -%}
                        {%- else -%}
                          {%- assign suitColor = suitColor | append :',' | append : suitColorValue -%}
                        {%- endif -%}
                      {%- endif -%}
                    {%- endif -%}
                    {% assign saparate_product = false %}
                    {% assign saparate_product_class = '' %}
                    {%- for property in item.properties -%}
                      {%- if property.first contains 'saparate-product' -%}
                        {% assign saparate_product = true %}
                        {% assign saparate_product_class = 'saparate_product' %}
                      {% endif  %}
                    {% endfor  %}
                    {% if saparate_product %}
                      <tr class="cart-item saparate-product" line-item-product="{{ lineItemType }}" line-item-title="{{ item.product.title }}" data-item-variant-inventory-policy="{{ item.variant.inventory_policy }}" data-item-variant-qty="{{ item.variant.inventory_quantity }}" data-item-qty="{{ item.quantity }}" line-item-product-handle="{{ item.product.handle}}" id="CartItem-{{ item.index | plus: 1 }}" line-item-id="{{ item.id }}" data-item-variant-title="{{ item.variant.title | downcase | handleize }}" data-variant-title="{{ item.variant.title }}">
                    {% else  %}
                      {%- if lineItemType  == 'jacket' or lineItemType  == 'pants'  -%}
                        <tr class="cart-item{% if lineItemType == 'pants' %} hidden{% endif %}" line-item-product-type="{{ lineItemType }}" data-item-variant-inventory-policy="{{ item.variant.inventory_policy }}" data-item-variant-qty="{{ item.variant.inventory_quantity }}" data-item-qty="{{ item.quantity }}" data-line-item-key="{{ item.key }}" data-jacket-variant="{{ item.properties['combo-variant-title'] | downcase | handleize }}" data-pants-variant="{{ item.properties['pant-variant-title'] | downcase | handleize }}" data-vest-variant="{{ item.properties['vest-variant-title'] | downcase | handleize}}" data-jacket-item-variant="{{ item.properties['combo-variant-title'] }}" data-pants-item-variant="{{ item.properties['pant-variant-title'] }}" data-vest-item-variant="{{ item.properties['vest-variant-title'] }}">
                      {%- else -%}
                        <tr class="cart-item" line-item-product="{{ lineItemType }}" line-item-title="{{ item.product.title }}" data-item-variant-inventory-policy="{{ item.variant.inventory_policy }}" data-item-variant-qty="{{ item.variant.inventory_quantity }}" data-item-qty="{{ item.quantity }}" line-item-product-handle="{{ item.product.handle}}" id="CartItem-{{ item.index | plus: 1 }}" line-item-id="{{ item.id }}" data-item-variant-title="{{ item.variant.title | downcase | handleize }}" data-variant-title="{{ item.variant.title }}">
                      {%- endif -%}
                    {%- endif -%}
                      <td class="cart-item__media">
                        {% if item.image %}
                          <img class="cart-item__image"
                            src="{{ item.image | img_url: '150x' }}"
                            alt="{{ item.image.alt | escape }}"
                            loading="lazy"
                            width="75"
                            height="{{ 75 | divided_by: item.image.aspect_ratio | ceil }}"
                          >
                        {% endif %}
                      </td>

                      <td class="cart-item__details">
                        {%- if section.settings.show_vendor -%}
                          <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                        {%- endif -%}
                        {%- assign pantsItemData = '' -%}
                        {%- for pantsItem in cart.items -%}
                          {%- assign subItemProductType = pantsItem.product.type | downcase | handleize -%}
                          {%- if item.properties['pant-variant-title'] == pantsItem.variant.title -%}
                            {% if subItemProductType == 'pants'  %}
                              {%- assign pantsItemData = pantsItem -%}
                              {%- capture pantOption -%}
                                <div class="pant-variant-info">
                                  <div class="suit-product-info">
                                    <span class="title">
                                      Pants - 
                                    </span>
                                    <span class="option-wrap">
                                      {%- for option in pantsItem.options_with_values -%}
                                        <div class="product-option">
                                          <span>{{ option.name }}: </span>
                                          <span>{{ option.value }}</span>
                                        </div>
                                      {%- endfor -%}
                                    </span>
                                  </div>
                                  {%- if item.variant.inventory_policy == 'continue' and item.variant.inventory_quantity <= 0 and current_date <= item.variant.metafields.custom.esimate_to_ship_date  -%}
                                    <div class="cart-estimated-variant-error-block-wrap" style="margin:0;margin-bottom:8px">
                                      <span class="clock-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512"><g id="_01_align_center" data-name="01 align center"><path d="M12,24A12,12,0,1,1,24,12,12.013,12.013,0,0,1,12,24ZM12,2A10,10,0,1,0,22,12,10.011,10.011,0,0,0,12,2Z"/><polygon points="7.947 15.598 6.886 13.902 11 11.325 11 6 13 6 13 12.433 7.947 15.598"/></g></svg>
                                      </span> 
                                      <span style="line-height: normal;">Estinated ship date: {{ item.variant.metafields.custom.esimate_to_ship_date }}</span>
                                    </div>
                                  {%- endif -%}
                                </div>
                              {%- endcapture -%}
                            {%- endif -%}
                          {%- endif -%}
                        {%- endfor -%}

                        <!-- vest data -->
                        {%- assign vestItemData = '' -%}
                        {%- for vestItem in cart.items -%}
                          {%- assign subItemProductType = vestItem.product.type | downcase | handleize -%}
                          {%- if item.properties['vest-variant-title'] == vestItem.variant.title -%}
                            {% if subItemProductType == 'vest'  %}
                              {%- assign vestItemData = vestItem -%}
                              {%- capture vestOption -%}
                                <div class="suit-product-info">
                                  <span class="title">
                                    Vest - 
                                  </span>
                                  <span class="option-wrap">
                                    {%- for option in vestItem.options_with_values -%}
                                      <div class="product-option">
                                        <span>{{ option.name }}: </span>
                                        <span>{{ option.value }}</span>
                                      </div>
                                    {%- endfor -%}
                                  </span>
                                </div>
                              {%- endcapture -%}
                            {% endif %}
                          {%- endif -%}
                        {%- endfor -%}

                        {% if saparate_product  %}
                          <a href="{{ item.product.url }}" class="cart-item__name break h3">{{ item.product.title | escape }}</a>
                        {% else  %}
                        {%- if lineItemType == 'jacket' -%}
                          <span class="cart-item__name break h3 suit-title">
                            {{ item.options_with_values[2].value }} Suit
                          </span>
                        {%- else -%}
                          <a href="{{ item.product.url }}" class="cart-item__name break h3">{{ item.product.title | escape }}</a>
                        {%- endif -%}
                        {%- endif -%}                          

                        {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                          <!-- edit item  -->
                          {%- assign currentProduct = all_products[item.product.handle] -%}
                          <div>
                            {%- if item.product.has_only_default_variant == false -%}
                              {%- if lineItemType == 'jacket' -%}
                                <div class="suit-product-info" data-item-product-type="{{ lineItemType }}" data-variant-id="{{ item.id }}">
                                  {% unless saparate_product %}
                                    <span class="title">
                                      Jacket - 
                                    </span>
                                  {% endunless %}
                              {%- else -%}
                                <div class="suit-product-info" data-item-product-type="{{ lineItemType }}" data-variant-id="{{ item.id }}">
                              {%- endif -%}
                                <span class="option-wrap product_var_cart">
                                  {%- for option in item.options_with_values -%}
                                    <div class="product-option" data-name="{{option.name}}">
                                      {% unless option.name == 'Denominations' %}
                                        <div>{{ option.name }}: </div>
                                      {% endunless %}
                                      <div class="product-option-val option-{{ forloop.index }}">{{ option.value }}</div>
                                    </div>
                                  {%- endfor -%}
                                </span>
                              {%- if lineItemType == 'jacket' -%}
                                {%- if item.variant.inventory_policy == 'continue' and item.variant.inventory_quantity <= 0  -%}
                                  <div class="cart-estimated-variant-error-block-wrap" style="margin:0;margin-bottom:8px">
                                    <span class="clock-icon">
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512"><g id="_01_align_center" data-name="01 align center"><path d="M12,24A12,12,0,1,1,24,12,12.013,12.013,0,0,1,12,24ZM12,2A10,10,0,1,0,22,12,10.011,10.011,0,0,0,12,2Z"/><polygon points="7.947 15.598 6.886 13.902 11 11.325 11 6 13 6 13 12.433 7.947 15.598"/></g></svg>
                                    </span> 
                                    <span style="line-height: normal;">Estinated ship date: {{ item.variant.metafields.custom.esimate_to_ship_date }}</span>
                                  </div>
                                {%- endif -%}
                              {%- endif -%}
                              </div>
                            {%- endif -%}
                            {% unless saparate_product %}
                            {%- if lineItemType == 'jacket' %}
                              {{ vestOption }}
                              {{ pantOption }}
                            {%- endif -%}
                            {% endunless  %}
                            {%- for property in item.properties -%}
                              {%- assign property_first_char = property.first | slice: 0 -%}
                              {%- if property.last != blank and property_first_char != '_' -%}
                                {%- unless property.first contains 'combo-variant-title' or property.last contains 'Virtual' or property.first contains 'variant-title' or property.first contains 'variant-id' or property.first contains 'saparate-product' -%}
                                  <div class="item-properties">
                                    <dt>{{ property.first }} : </dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a href="{{ property.last }}" target="_blank">
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endunless -%}
                              {%- endif -%}
                            {%- endfor -%}
                            {%- for option in item.options_with_values -%}
                              {%- assign optionNameDowncse = option.name | downcase -%}
                              {%- if optionNameDowncse contains 'size' or optionNameDowncse contains 'waist' and invitedEventLook -%}
                                {%- assign enableEditItem = true -%} 
                                {% break %}
                              {%- endif -%}
                            {%- endfor -%} 
                            <div class="cart-edit-remove-option" {% if invitedEventClass %}data-item-properties="{{ invitedEventClass }}"{% endif %}>
                              {% if saparate_product %}
                                <div class="cart-edit-remove-option"> 
                                  <span class="cart-edit item link">
                                    <div class="edit-item-title" >
                                      Edit Item
                                      {%- unless orderType == 'virtual' -%}
                                      <span class="break">| </span>
                                      {%- endunless -%}
                                    </div>
                                  </span>
                                  <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                    <a href="{{ item.url_to_remove }}" class="link" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                      <span class="cart-remove">Remove</span>
                                    </a>
                                  </cart-remove-button>
                                </div>
                              {% else  %}
                              {% unless lineItemType == 'jacket' %}
                                {%- unless orderType == 'virtual' and lineItemType == 'neckties' or orderType and lineItemType == 'bow ties' or  orderType and lineItemType == 'hanky' -%}
                                  {%- if currentProduct.variants.size > 1 %} 
                                    <span class="cart-edit item link">
                                      <div class="edit-item-title" >
                                        Edit Item
                                        {%- unless orderType == 'virtual' -%}
                                        <span class="break">| </span>
                                        {%- endunless -%}
                                      </div>
                                    </span>
                                  {%- endif -%}
                                {%- endunless -%}
                              {% endunless %}
                              {%- unless orderType == 'virtual' -%}
                                {%- if lineItemType == 'jacket' -%}
                                  <span class="suit-product-remove">Remove</span>
                                {%- else -%}
                                  <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                                    <a href="{{ item.url_to_remove }}" class="link" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                      <span class="cart-remove">Remove</span>
                                    </a>
                                  </cart-remove-button>
                                {%- endif -%}
                              {%- endunless -%}
                              {% endif  %}
                            </div>
                            {%- unless lineItemType == 'jacket' -%}
                              {%- if item.variant.inventory_policy == 'continue' and item.variant.inventory_quantity <= 0 and current_date <= item.variant.metafields.custom.esimate_to_ship_date  -%}
                                <div class="cart-estimated-variant-error-block-wrap">
                                  <span class="clock-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="512" height="512"><g id="_01_align_center" data-name="01 align center"><path d="M12,24A12,12,0,1,1,24,12,12.013,12.013,0,0,1,12,24ZM12,2A10,10,0,1,0,22,12,10.011,10.011,0,0,0,12,2Z"/><polygon points="7.947 15.598 6.886 13.902 11 11.325 11 6 13 6 13 12.433 7.947 15.598"/></g></svg>
                                  </span> 
                                  <span style="line-height: normal;">Estinated ship date: {{ item.variant.metafields.custom.esimate_to_ship_date }}</span>
                                </div>
                              {%- endif -%}
                            {%- endunless -%}
                          </div>

                          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          <!-- edit item  -->
                          {%- assign cuurentItemTitle = item.properties['variant-title'] | append : '-' | append : item.id | downcase | handleize -%}
                          {%- render 'edit-product-popup' currentProduct : currentProduct, s_variant: item, orderTypeClass : orderTypeClass, currentItemTitle : cuurentItemTitle, product_has_saparate : saparate_product_class, item_key : item.key  -%}

                        {%- endif -%}

                        <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in item.discounts -%}
                            <li class="discounts__discount">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                            </li>
                          {%- endfor -%}
                        </ul>

                        <p class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}">
                          <span class="cart-item__error-text"></span>
                          <svg width="25" height="25" aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                          </svg>
                        </p>

                        
                      </td>

                      <td class="cart-item__quantity">
                        {%- assign virtualOrder = false -%}
                        {%- for property in item.properties -%}
                          {%- if property.last contains 'Virtual' -%} 
                            {%- assign virtualOrder = true -%}
                            {%- break -%}
                          {%- endif-%}
                        {%- endfor -%}
                        {%- if virtualOrder or orderType -%}
                          <span class="qty-item">{{ item.quantity}}</span>
                        {%- else -%}
                        <div class="quantity-flex">
                          <label class="medium-down" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'products.product.quantity.label' | t }}
                          </label>
                          {%- if lineItemType == 'jacket' -%}
                            {% if saparate_product %}
                            <quantity-input class="quantity">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                -
                              </button>
                              <input class="quantity__input"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="0"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}" readonly
                              >
                              <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                +
                              </button>
                            </quantity-input>
                            {% else %}
                            <div class="quantity custom-qty-button">
                              <button class="quantity__button no-js-hidden{% if item.quantity == 1 %} disabled{% endif %}" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                -
                              </button>
                              <input class="quantity__input_custom quantity__input"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="0"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}" readonly
                              >
                              <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                +
                              </button>
                            </div>
                            {% endif  %}
                          {%- else -%}
                            <quantity-input class="quantity">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                                -
                              </button>
                              <input class="quantity__input"
                                type="number"
                                name="updates[]"
                                value="{{ item.quantity }}"
                                min="0"
                                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                id="Quantity-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}" readonly
                              >
                              <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                                +
                              </button>
                            </quantity-input>
                          {%- endif -%}
                        {%- endif -%}
                      </td>

                      <td class="cart-item__totals center">
                        <div class="loading-overlay remove_item hidden">
                          <div class="loading-overlay__spinner">
                            <svg width="25" height="25" aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </div>

                        <div class="cart-item__price-wrapper medium-up">
                          {%- assign vestPice = false -%}
                          {%- for vestProperties in item.properties -%}
                            {%- if vestProperties contains 'pant-variant-title' -%}
                              {%- assign vestPice = true -%}
                            {%- endif -%}
                          {% endfor %}
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end" data-subitemvar-price="{{subitemvar.price}}">
                                {%- if vestPice -%}
                                  {{ 19999 | times : item.quantity | money  }}
                                {%- else -%}
                                  {{ item.final_line_price | money }}
                                {%- endif -%}
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price price--end">
                              {%- if vestPice -%}
                                {{ 19999 | times : item.quantity | money }}
                              {%- else -%}
                                {{ item.final_line_price | money }}
                              {%- endif -%}
                            </span>
                          {%- endif -%}
                        </div>
                      </td>
                    </tr>
                    {%- if productUpsellAvailable and productUpsellHide != true -%}
                      <tr class="also-like-part">
                        <td colspan="4" class="also-like-part-inner"> 
                          <div class="product-like-detail">
                            <div class="label-part">
                              <p>You May Also Like:</p>
                            </div>
                            <div class="product-like-detail-inner">
                                <div class="product-image-name-part">
                                  <div class="image-part">
                                      <img class="cart-item__image"
                                        src="{{ productUpsell.featured_image  | img_url: '150x' }}"
                                        alt="{{ productUpsell.image.alt | escape }}"
                                        loading="lazy"
                                        width="75"
                                        height="{{ 75 | divided_by: item.image.aspect_ratio | ceil }}"
                                      >
                                  </div>  
                                  
                                  <div class="product-like-item-details">
                                    <p class="product-like-title">{{ productUpsell.title | escape }}</p>
                                    <span class="product-like-variant">{{ productUpsell.metafields.my_fields.short_description }}</span>
                                  </div>
                                </div>

                                <div class="product-remove-cart">
                                  <div class="upsell-product-form">
                                    <input type="hidden" name="id" value="{{ productUpsell.selected_or_first_available_variant.id }}" class="upsellProdId">
                                    <button
                                      type="button"
                                      name="add"
                                      class="upsell_product_added button button--full-width button--secondary btn-small"
                                    {% if productUpsell.selected_or_first_available_variant.available == false %}disabled {% endif %}
                                    >
                                      <div class="loading-overlay upsell_loading hidden">
                                        <div class="loading-overlay__spinner">
                                          <svg width="25" height="25" aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                          </svg>
                                        </div>
                                      </div>
                                      {%- if productUpsell.selected_or_first_available_variant.available -%}
                                        {{ 'products.product.add_to_cart' | t }} - {{ productUpsell.price | money_without_trailing_zeros }} 
                                      {%- else -%}
                                        {{ 'products.product.sold_out' | t }}
                                      {%- endif -%}
                                    </button>
                                  </div>
                                  <span class="close-like-product remove-upsell-item"><i class="fas fa-times"></i></span>
                                </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {%- endif -%}
                  {%- endfor -%}              
                </tbody>
              </table>
            {%- endif -%}
          </div>
        </div>

        {% if cart.attributes.order_type == 'virtual' %}
          <div class="virtual-note-for-address api_error">
            <p>Please Note: When asked for shipping address, you can put in your own. The guest will complete the transaction with their own shipping address as a separate, next step.</p>
          </div>
        {% endif %}

        <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
        <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
      </form>
    </div>
    
    {%- unless cart.item_count == 0 -%}
    <div class="cart-fit-finder-wrapper">
      <div class="order-details-wrapper {% unless fit_finder_data_enable  %}hidden{% endunless %}">
        <p class="summary-heading">Order Details</p>
        <p class="sub-title">Please provide some information about your order.</p>
        <div class="fit-finder-wrapper">
          <div class="height-input">
            <label for="height_val" class="label">Height*</label>
            <select name="height_val" class="height_val">
              <option value="">—</option>
              {% comment %} <option value="5.01">5'1"</option>
              <option value="5.02">5'2"</option> {% endcomment %}
              <option value="5.03">5'3"</option>
              <option value="5.04">5'4"</option>
              <option value="5.05">5'5"</option>
              <option value="5.06">5'6"</option>
              <option value="5.07">5'7"</option>
              <option value="5.08">5'8"</option>
              <option value="5.09">5'9"</option>
              <option value="5.10">5'10"</option>
              <option value="5.11">5'11"</option>
              <option value="6.0">6'0"</option>
              <option value="6.01">6'1"</option>
              <option value="6.02">6'2"</option>
              <option value="6.03">6'3"</option>
              <option value="6.04">6'4"</option>
              <option value="6.05">6'5"</option>
              <option value="6.06">6'6"</option>
              {% comment %} <option value="6.07">6'7"</option>
              <option value="6.08">6'8"</option> {% endcomment %}
            </select>
            <div class="error-message">Height is required.</div>
          </div>
          <div class="weight-input">
            <label for="weight" class="label">Weight*</label>
            <input type="text" id="weight" min="90" max="400" maxlength="3" pattern="[0-9]" class="field__input form_phone text-field weight-value" placeholder="Enter Weight...">
            <div class="error-message">Weight is required.</div>
            <div class="confirm-weight-msg less-then-weight hide">Please, recheck your weight for accuracy</div>
          </div>
          <div class="pant-input pant-waist-wrap">
            <label for="Pant Waist" class="label">Pant Waist*</label>
            <select name="pant-waist" id="pant-waist">
              <option value="">—</option>
              <option value="26">26"</option>
              <option value="28">28"</option>
              <option value="30">30"</option>
              <option value="32">32"</option>
              <option value="34">34"</option>
              <option value="36">36"</option>
              <option value="38">38"</option>
              <option value="40">40"</option>
              <option value="42">42"</option>
              <option value="44">44"</option>
              <option value="46">46"</option>
              <option value="50">50"</option>
              <option value="52">52"</option>
              <option value="54">54"</option>
            </select>
            <div class="error-message">Waist size is required.</div>
          </div>
          <div class="recommand-error-message"></div>
        </div>
        <div class="fit-finder-output hidden">
          <div class="ff-top-box"><h3>Recommended Size</h3></div>
          <div id="ff-data-box"></div>
        </div>
      </div>
      <div class="cart__footer__wrap">
        <div class="js-contents-wrap">
          <div class="totals ">
            <h6 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}:</h6> 
            <p class="totals__subtotal-value">{{ cart.original_total_price | money_without_trailing_zeros }}</p>
          </div>
          <div class="totals">
            <h3 class="totals__subtotal main-total">Total <span>- Free U.S. Shipping & Returns</span></h3>
            <p class="totals__subtotal-value total-value">{{ cart.total_price | money_without_trailing_zeros }}</p>
          </div>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {%- render 'icon-discount' -%}
                    {{ discount.title }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        </div>
        <button type="button" name="add" class="contiune-payment button button--full-width button--primary {% unless fit_finder_data_enable  %}hidden{% endunless %}">
          <span class="btn-title" data-text="Processing...">Contiune to Payment</span>
        </button>
        <div class="cart__ctas checkout_btn_link {% if fit_finder_data_enable  %}hidden{% endif %}">
          <noscript>
            <button type="submit" class="cart__update-button button button--secondary" form="cart">
              {{ 'sections.cart.update' | t }}
            </button>
          </noscript>

          <button type="submit" class="button--primary button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
            {{ 'sections.cart.checkout' | t }} <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    {%- endunless -%}
    </div>
  </div> 
</cart-items>

<script>
  $(document).ready(function(){
    if( $(".template-cart .edit-item-popup .swatch.swatch-wrap.swatch-color").length ){
      $(".template-cart .edit-item-popup .swatch.swatch-wrap.swatch-color").each(function(){
        if( $(this).find(".swatch-element").length < 2 ){
          $(this).hide();
        }
      });
    }
    if( $(".product_var_cart").length ){
      $(".product_var_cart").each(function(){
        $(this).find(".product-option").each(function(){
          var data_name = $(this).data("name");          
          var data_value = $(this).find(".product-option-val").text();
          $(`input[type="radio"][data-name="${data_name}"][value="${data_value}"]`).prop('checked', true);
          $(`input[type="radio"][data-name="${data_name}"][value="${data_value}"] + label`).trigger("click");          
        });
      });
    }
  });
  // get fit-finder and set Cart attribute
  window.addEventListener('DOMContentLoaded', function() {
    if(getCookie('fit-finder-data')){
      var fitData = JSON.parse(getCookie('fit-finder-data'))
      var height = fitData.height;
      $(`.height_val`).val(height).change();      
      var weight = fitData.weight;
      $(`#weight`).val(weight);
      var age = fitData.age;
      $(`#age`).val(age);
      var ff_html = '';
      var jacket_size = fitData.jacketSize.split(':');
      if (jacket_size[1] == "S") {
        jacket_type = 'Short'
      } else if (jacket_size[1] == "R") {
        jacket_type = 'Regular'
      } else if (jacket_size[1] == "L") {
        jacket_type = 'Long'
      }           
      var ff_html = `<div class="ff-data jacket-wrap"><strong>Jacket : </strong><span>${jacket_size[0]} ${jacket_type}</span></div>`;''
      if(fitData.pantSize ) {
        var pants_size = fitData.pantSize.split('x');
        var pants_hight = pants_size[1];
        var pants_waist = pants_size[0];
        $(`#pant-waist`).val(pants_waist).change();
        ff_html += `<div class="ff-data"><strong>Pants : </strong><span>${pants_waist} x ${pants_hight}</span></div>`;
      } else {
        var pants_hight = fitData.pants_hight_output;
        var pants_waist = fitData.pants_waist_output;        
        $(`#pant-waist`).val(pants_waist).change();
        ff_html += `<div class="ff-data"><strong>Pants : </strong><span>${pants_waist} x ${pants_hight}</span></div>`;
      }
      $(".fit-finder-output #ff-data-box").html(ff_html);
      $(`.fit-finder-output`).removeClass("hidden")      
    } 
  })
</script>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    }
  ]
}
{% endschema %}