{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<script type="application/ld+json">{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "name": "Home",
    "item": "{{ shop.url }}"
  }
    "@type": "ListItem",
    "position": 2,
    "name": "{{ blog.title | strip_html | strip_newlines | strip | escape }}",
    "item": "{{ shop.url }}{{ blog.url }}"
  }
  ]
}
</script>


{%- paginate blog.articles by section.settings.blog_number -%}
  <div class="page-width-big">
    <div id="breadcrumb" class="product_menu">
      <div class="" aria-label="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <a href="/">Home</a>
        <span class="separator"> / </span> 
        <span>{{blog.title}}</span>
      </div>
    </div>
  </div>
  <div class="main-blog page-width">
    <div class="main-heading-part">
      <h1 class="text-center-heading border-heading h1 margin-0">{{ blog.title | escape }}</h1>
      {% assign blog_handle = blog.handle %}
      {% assign compare_text = section.settings.check_heading | downcase %}
      {% unless compare_text != blog_handle %}
        <div class="description--primary h5">
          {{ section.settings.blog_description }}
        </div>
      {% endunless %}
    </div> 

    {% comment %}Start Filter Dropdown{% endcomment %}
    <div class="blog-filter-top">
      <div class="blog-tag-filteration">
        {%- if section.settings.show_blog_type -%}
          <label class="filter-label">Filter by:</label>
          <div class="filter-main">
            <div class="blog-filter-label">Category</div>
            <ul   style="display:none;" name="tag"  id="tags" class="filter-tag">
                {% for tag in blog.tags %}
                  {% if tag contains 'category_' %}
                      <li><a href="{{blog.url}}/tagged/{{ tag | handle }}">{{ tag | replace: '_', ' ' }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
          </div>
        {%- endif -%}
      </div>

      <div class="blog-counter">
          <p>Showing <span>{{ blog.articles.size }}</span> {{ blog.articles.size | pluralize : 'Post' , 'Posts '}} </p>
      </div>
    </div>
    {% comment %}End Filter Dropdown{% endcomment %}
    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-articles__article article">
          {%- render 'article-card', article: article, show_image: section.settings.show_image -%}
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
    {% if paginate.next.is_link %}
      <div class="section-bottom-button">
        <input type="button" name="showmore" class="button  button--secondary btnshow" id="showbtn" value="Load More">
      </div>
    {% endif %}
  </div>
{%- endpaginate -%}
{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "blog",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_blog_type",
      "default": false,
      "label": "Show Category"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type":"text",
      "id":"check_heading",
      "label":"Title",
      "info":"BLog title in which you want this description"
    },
    {
      "type":"html",
      "id":"blog_description",
      "label":"Blog Drescription",
      "default":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean volutpat libero eget iaculis semper. Etiam in ante in sem consectetur suscipit. Phasellus hendrerit ut odio id rutrum.</p>"
    },
    {
      "type": "select",
      "id": "blog_number",
      "options": [
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "9",
          "label": "9"
        }
      ],
      "default": "9",
      "label": "Blog count number"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_date",
          "default": true,
          "label": "Show Date"
        },
        {
          "type": "checkbox",
          "id": "show_author",
          "default": false,
          "label": "Show Author"
        },
        {
          "type": "checkbox",
          "id": "show_blog_type",
          "default": false,
          "label": "Show Category"
        },
        {
          "type": "checkbox",
          "id": "show_blog_tag",
          "default": false,
          "label": "Show Tag"
        }
      ]
    },
    {
      "type": "summary",
      "name": "Summary",
      "limit": 1
    },
    {
      "type": "link",
      "name": "Link",
      "limit": 1
    }
  ]
}
{% endschema %}
