{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
{%- comment -%}
{%- unless template contains 'top-suit' or template contains 'top-collection'  -%}
<div class="page-width-big">
  <div class="page-top-headpadding-flex">
      <div class="breadcrumb">
          <div class="breadcrumb-links">
              <a href="/collections/all">Shop Collection</a>
              <span class="breadcrumb__sep">{% include 'breadcrumb-arrow' %}</span>
              <span class="active-page">{{ collection.title}}</span>
          </div>
      </div>
  </div> 
</div>
{%- endunless -%}
{%- endcomment -%}
<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %}">
  <div class="collection-hero__inner page-width">
    <div class="collection-hero__text-wrapper {% unless template contains 'top-suit' or template contains 'top-collection' %}main-heading-part{% endunless%}">
      {%- if template contains 'top-suit' or template contains 'top-collection'  -%}<p class="banner-sub-heading">{{ collection.metafields.custom.banner_sub_heading }}</p>{%- endif -%}
      <h1 class="collection-hero__title {% unless template contains 'top-suit' or template contains 'top-collection' %}text-center-heading border-heading{% endunless%} h1 margin-0">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if template contains 'top-suit' or template contains 'top-collection'  -%}
        {%- if collection.metafields.custom.banner_content != blank -%}
          <div class="collection-hero__description description--primary h5">{{ collection.metafields.custom.banner_content }}</div>
        {%- endif -%}
      {%- endif -%}

    </div>
    
    {%- if section.settings.show_collection_image and collection.image -%}
      {%- if template contains 'top-suit' or template contains 'top-collection'  -%}
        <div class="collection-hero__image-container media">
          <img srcset="{%- if collection.metafields.custom.banner_collection_image.width >= 165 -%}{{ collection.metafields.custom.banner_collection_image | img_url: '165x' }} 165w,{%- endif -%}
            {%- if collection.metafields.custom.banner_collection_image.width >= 360 -%}{{ collection.metafields.custom.banner_collection_image | img_url: '360x' }} 360w,{%- endif -%}
            {%- if collection.metafields.custom.banner_collection_image.width >= 535 -%}{{ collection.metafields.custom.banner_collection_image | img_url: '535x' }} 535w,{%- endif -%}
            {%- if collection.metafields.custom.banner_collection_image.width >= 720 -%}{{ collection.metafields.custom.banner_collection_image | img_url: '720x' }} 720w,{%- endif -%}
            {%- if collection.metafields.custom.banner_collection_image.width >= 940 -%}{{ collection.metafields.custom.banner_collection_image | img_url: '940x' }} 940w,{%- endif -%}
            {%- if collection.metafields.custom.banner_collection_image.width >= 1070 -%}{{ collection.metafields.custom.banner_collection_image | img_url: '1070x' }} 1070w{%- endif -%}"
            src="{{ collection.metafields.custom.banner_collection_image | img_url: 'master' }}"
            sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
            alt="{{ collection.title | escape }}"
            loading="lazy"
            width="{{ collection.metafields.custom.banner_collection_image.width }}"
            height="{{ collection.metafields.custom.banner_collection_image.height }}"
          >
        </div>
      {%- else -%}
        <div class="collection-hero__image-container media">
          <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | img_url: '165x' }} 165w,{%- endif -%}
              {%- if collection.image.width >= 360 -%}{{ collection.image | img_url: '360x' }} 360w,{%- endif -%}
              {%- if collection.image.width >= 535 -%}{{ collection.image | img_url: '535x' }} 535w,{%- endif -%}
              {%- if collection.image.width >= 720 -%}{{ collection.image | img_url: '720x' }} 720w,{%- endif -%}
              {%- if collection.image.width >= 940 -%}{{ collection.image | img_url: '940x' }} 940w,{%- endif -%}
              {%- if collection.image.width >= 1070 -%}{{ collection.image | img_url: '1070x' }} 1070w{%- endif -%}"
              src="{{ collection.image | img_url: '533x' }}"
              sizes="(min-width: 1100px) 535px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
              alt="{{ collection.title | escape }}"
              loading="lazy"
              width="{{ collection.image.width }}"
              height="{{ collection.image.height }}"
            >          
        </div>
      {%- endif -%}
    {%- endif -%}
  </div>
</div>

{%- if template contains 'top-suit' or template contains 'top-collection'  -%}
<div class="page-width">
  <div class="page-top-headpadding-flex collection-breadcrumb-wrapper">
    <div class="breadcrumb">
      <div class="breadcrumb-links">
        <a href="/collections/all">Shop Collection</a> 
        <span class="breadcrumb__sep">{% include 'breadcrumb-arrow' %}</span>
        <span class="active-page">{{ collection.title}}</span>
      </div>
    </div>
    {%- comment -%}<div class="product-count">{{ collection.all_products_count }} Products</div>{%- endcomment -%}
  </div> 
</div>
{%- endif  -%}

{%- unless template contains 'top-suit' or template contains 'top-collection'  -%}
  <div class="page-width">
    <div class="page-top-headpadding-flex">
      <div class="breadcrumb">
          <div class="breadcrumb-links">
              <a href="/collections/all">Shop Collection</a>
              <span class="breadcrumb__sep">{% include 'breadcrumb-arrow' %}</span>
              <span class="active-page">{{ collection.title}}</span>
          </div>
      </div>
      <div class="product-count">{{ collection.all_products_count }} Products</div>
    </div> 
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
