{%- comment -%} Capture the content for header containing the tracking data {%- endcomment -%}
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

{% comment %} Use string splitting to pull the value from content_for_header and apply some string clean up {% endcomment %}

{%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' -%}
{%- if customer -%}
  {%- unless pageUrl contains 'event_id=' -%}
    <script>window.location.href = '/account';</script>
  {%- endunless -%}
{%- else -%}
  <script>window.location.href = '/account/login';</script>
{%- endif -%}


{{ 'home-try-on.js' | asset_url | script_tag }}
{{ 'home-try-on.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>
<div class="mywedding_section_wrap">
  <div class="page-top-head-background page-top-margin-0">
    <div class="page-width-big">
      <div class="page-top-spacing">
        <div class="breadcrumb">
          <div class="breadcrumb-links">
            <a href="/pages/how-it-works">How it works</a>
            <span class="breadcrumb__sep">{% include 'breadcrumb-arrow' %}</span>
            <span class="active-page">Home try on</span>
          </div>
        </div>
        {%comment%}
        <div class="page-back-link">
          <a href="{{ routes.account_url }}" class="link"><i class="fas fa-arrow-left"></i> Back to My Account</a>
        </div>
        {% endcomment %}
        <div class="rich-text rich-text--full-width home-try-on-content">
          <div class="rich-text__blocks">
              {% if section.settings.heading != blank %}
                <h2 class="text-center-heading border-heading title h1">{{ section.settings.heading }}</h2>
              {% endif %}
              {% if section.settings.content != blank %}
                <h3 class="sub-heading h4">{{ section.settings.content }}</h3>
              {% endif %}
          </div>
        </div>
        <div class="choose-an-event">
          <label for="event-id">Choose an Event:</label>
          <select name="event-id" id="event-id"><option value="">Select Event</option></select>
        </div>
      </div>
    </div>
    <div class="page-width">
      <input type="hidden" id="weddingevent_id">
      <input type="hidden" id="customer_id" value="{{ customer.id }}">
      <input type="hidden" id="customer_name" value="{{ customer.name }}">
      <input type="hidden" id="member_id">
      <input type="hidden" id="look_id">
      <input type="hidden" class="payment_flag" />
    </div>
  </div>

  <div class="background-color-spacing assigned-look-back hidden">
    <div class="page-width">
      <div class="invited-assigned-look">
        <div class="left-part-image-part look-event-data">
          <div class="image">
            <img class="look-img" src="https://cdn.shopify.com/s/files/1/0585/3223/3402/files/product-img-3.png?v=1634963523" alt="Look image" />
          </div>
          <h3 class="suit-heading margin-0 look-name">Look Name</h3>
        </div>
        <div class="right-assigned-look-list">
          <div class="loader-icon">
            <div class="loading-overlay__spinner">
              <svg width="25" height="25" aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div>
          <div class="product-data-wrapper hidden">
            <div class="look-product-block"></div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="background-color-spacing default-select-event-msg">
    <p class="text_center">Please select an event to continue...</p>
  </div>
  <div class="background-color-spacing not-found-assigned-look-back hidden"></div>
</div>
<div class="mywedding_api_call_loading hidden">
  <div class="loading-overlay">
    <div class="loading-overlay__spinner">
      <svg width="25" height="25" aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Home try on",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Home try on heading",
      "default": "Home try on"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Home try on"
    },
    {
      "type": "text",
      "id": "content",
      "label": "Sub content"
    }
  ],
  "presets": [
    {
      "name": "Home try on section"
    }
  ]
}
{% endschema %}