{% layout none %}
{%- paginate collection.products by 2 -%}
  {%- for product in collection.products -%}
    <div class="product-card" data-name="{{product.title}}">
      <div class="img">
        <a href="{{ product.url }}" target="_blank" tabindex="0" title="{{ product.title}}">
          <img src="{{ product.featured_image | product_img_url : 'master' }}" alt="{{ product.title }}" />
        </a>
      </div>
      <div class="product-info">
        <div class="bundle-product-wrapper">
          {%- assign suitProdHandle = product.metafields.my_fields.jacket_pants_title | downcase | handleize | strip -%}
          {%- assign suitProdu = all_products[suitProdHandle] -%}
          {%- assign looksProductType =  product.type %}
          {%- if product.type == 'suit' or product.type == 'Suit' -%} 
            {%- assign looksProductType =  'looks' %}
          {%- endif -%}
          <div class="product-data-card-wrap product-data-card" data-product-handle="{{ suitProdHandle }}" data-product-type="{{ looksProductType }}">
            <input type="hidden" name="looks-product-id" class="looks-product-id" value="{{ suitProdu.id }}">
            <input type="hidden" name="looks-product-var-id" class="looks-product-var-id" value="{{ suitProdu.selected_or_first_available_variant.id }}">
            <input type="hidden" name="looks-product-handle" class="looks-product-handle" value="{{ suitProdHandle}}">
            <input type="hidden" name="customizer-look-for-get-variant" class="customizer-look-forget-variant" value="{{ suitProdu.selected_or_first_available_variant.id }}">
            <input type="hidden" name="looks-product-main-image" class="looks-product-main-image" value="{{ product.featured_image | img_url: 'master' }}">
          </div>
          {% assign productHandleArrVarHandle = product.metafields.custom_look.products-0 %}
          {% assign producthandleVarMeta = productHandleArrVarHandle | split : ',' %}
          {%- for productItem in producthandleVarMeta -%}
            {%- assign productHandle = all_products[productItem] -%}
            {%- assign productSelectedType  = productHandle.type | downcase -%}
            {%- unless productHandle == blank -%}
              <div class="product-data-card product-data-card-wrap product-block-item" data-product-handle="{{ productHandle.handle }}" data-product-type="{{ productHandle.type | downcase  }}">
                <input type="hidden" name="looks-product-id" class="looks-product-id" value="{{ productHandle.id }}">
                <input type="hidden" name="looks-product-var-id" class="looks-product-var-id" value="{{ productHandle.selected_or_first_available_variant.id }}">
                <input type="hidden" name="looks-product-handle" class="looks-product-handle" value="{{ productHandle.handle }}">
                <input type="hidden" name="customizer-look-for-get-variant" class="customizer-look-forget-variant" value="{{ productHandle.selected_or_first_available_variant.id }}">
              </div>
            {%- endunless -%}
          {%- endfor -%}
          {% assign customLookProducts = product.metafields.custom_look %}
          {%- assign customLookProductsVar = false -%}
          {%- if customLookProducts.size > 0 -%}
            {%- assign customLookProductsVar = true -%}
          {%- endif -%}
          {%- if customLookProductsVar -%}
            {%- for i in (i..customLookProducts.size) -%}
              {%- assign customLookProd = 'products-' | append : i -%}
              {% assign productHandleArr = product.metafields.custom_look[customLookProd] %}
              {%- if productHandleArr contains '?variant=' -%}
                {%- assign productHandleVal = productHandleArr | split : ',' -%}
                {%- for producthandleitem in productHandleVal -%}
                  {%- assign accessoriesProdHandle = producthandleitem | split: '?' | first -%}
                  {%- assign accessoriesProdVarId = producthandleitem | split: '?' | last | remove: 'variant=' | plus: 0 -%}
                  {%- assign productHandle = all_products[accessoriesProdHandle] -%}
                  <div class="product-data-card product-data-card-wrap product-block-item" data-product-handle="{{ productHandle.handle }}" data-product-type="{{ productHandle.type | downcase  }}">
                    <input type="hidden" name="looks-product-id" class="looks-product-id" value="{{ productHandle.id }}">
                    <input type="hidden" name="looks-product-var-id" class="looks-product-var-id" value="{{ accessoriesProdVarId }}">
                    <input type="hidden" name="looks-product-handle" class="looks-product-handle" value="{{ productHandle.handle }}">
                    <input type="hidden" name="customizer-look-for-get-variant" class="customizer-look-forget-variant" value="{{ accessoriesProdVarId }}">
                  </div>
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
        <h4 class="product-title">{{ product.title }}</h4>
        <p class="product-price">Starting at {{ product.price | money }}</p>
        <p class="taxes-text">Price Includes Jacket, Vest and  Pants</p>
        <button class="button button--secondary look-added-into-event" data-text="Adding...">Add To Event</button>
      </div>
    </div>
  {%- endfor -%}
  <div class="pagination-custom">
    {% if paginate.previous %}
      {% assign prev_page = paginate.previous.url | split : '?' | last  %}
      <button class="button button--secondary custom-paginate-next" data-href="{{ collection.url }}?{{ prev_page }}" title="{{ paginate.prev.title }}">Previous</a>
    {% endif %}
    {% if paginate.next  %}
      {% assign next_page = paginate.next.url | split : '?' | last  %}
      <button class="button button--secondary custom-paginate-next" data-href="{{ collection.url }}?{{ next_page }}" title="{{ paginate.next.title }}">Next</button>
    {% endif %}
  </div>
{%- endpaginate -%}